@import './node_modules/nord/src/sass/nord.scss';
@import 'variables.scss';

header {
  margin-top: 8rem;
}

footer {
  margin-top: 8rem;

  .footer-links a {
    color: $black;
    border-bottom: 2px solid $black;
    margin: 0 1rem;

    &:hover {
      border-bottom: 0px;
    }
  }

  &:before {
    content: '';
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    background-image: url('data:image/svg+xml;utf8,<svg width="216.60124" height="154.59714" viewBox="0 0 57.309078 40.903828" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><path style="fill:rgb(255,255,255);fill-opacity:1;stroke:none;" d="m 25.938469,31.298865 c -2.2375,-1.336861 -4.010705,-4.504737 -5.175406,-6.818433 -1.1647,-2.313696 1.714926,-5.216268 2.951077,-5.748453 0.631513,1.28423 1.546686,2.456759 1.546686,2.456759 1.151198,-1.263703 1.82497,-2.807949 2.472371,-4.076397 0.639386,0.903877 5.159297,9.257244 6.653252,12.119425 -1.017967,1.616655 -2.324131,2.447512 -4.718492,-0.270743 -0.967103,0.775417 -1.671856,1.623296 -3.729488,2.337842 z" /><path style="color:rgb(0,0,0);stroke-width:3.77953;" d="M 42.792969 0.00390625 A 1.3228346 1.3228346 0 0 0 42.335938 0.05078125 C 32.358647 2.9225761 28.194171 10.83255 28.257812 16.705078 A 1.3228346 1.3228346 0 0 0 29.601562 18.019531 A 1.3228346 1.3228346 0 0 0 30.908203 16.683594 C 30.858459 12.093485 34.140328 5.1610204 43.066406 2.5917969 A 1.3228346 1.3228346 0 0 0 43.974609 0.95898438 A 1.3228346 1.3228346 0 0 0 42.792969 0.00390625 z M 57.841797 3.1933594 A 1.3228346 1.3228346 0 0 0 57.261719 3.2929688 C 51.78445 5.5440423 47.217477 10.936609 44.623047 16.521484 C 43.32583 19.313922 42.522365 22.167084 42.445312 24.789062 C 42.368248 27.411049 43.04829 29.886914 44.859375 31.564453 A 1.3228346 1.3228346 0 0 0 46.726562 31.490234 A 1.3228346 1.3228346 0 0 0 46.654297 29.623047 C 45.555127 28.604931 45.025302 26.991263 45.087891 24.861328 C 45.15048 22.731394 45.843976 20.173707 47.023438 17.634766 C 49.382346 12.556884 53.718536 7.605111 58.265625 5.7363281 A 1.3228346 1.3228346 0 0 0 58.988281 4.0078125 A 1.3228346 1.3228346 0 0 0 57.841797 3.1933594 z M 74.759766 7.640625 C 74.492361 7.6398907 74.21538 7.6547409 73.929688 7.6835938 C 71.645683 7.9142545 68.634548 9.0460505 64.496094 11.398438 C 61.021344 13.350132 59.651357 16.863882 61.128906 19.400391 C 61.284983 19.668327 61.476815 19.913351 61.691406 20.140625 C 62.800523 22.384502 63.952585 24.725625 65.175781 26.990234 A 1.3229669 1.3229669 0 0 0 64.193359 28.775391 C 69.963806 42.334093 73.222296 48.280842 74.460938 52.617188 C 74.620925 53.177336 74.398418 54.648271 73.677734 56.53125 C 72.957039 58.414233 71.857873 60.709234 70.769531 63.203125 C 68.592856 68.190911 66.375732 74.030734 67.587891 79.613281 C 69.700533 89.343158 73.87738 101.98897 81.9375 116.57227 C 81.404798 116.46437 80.858754 116.36668 80.359375 116.23438 C 77.131035 115.37905 74.715001 113.98815 73.664062 112.47852 A 1.3229669 1.3229669 0 0 0 71.353516 112.73633 C 69.955793 116.17963 65.10279 119.76454 60.353516 120.9082 C 57.978876 121.48004 55.67194 121.45838 53.880859 120.75195 C 52.089779 120.04554 50.738252 118.73955 50.005859 116.27148 A 1.3228346 1.3228346 0 0 0 48.359375 115.37891 A 1.3228346 1.3228346 0 0 0 47.464844 117.02539 C 48.394173 120.1571 50.440177 122.23523 52.914062 123.21094 C 55.387951 124.18665 58.218034 124.14038 60.974609 123.47656 C 65.999079 122.26663 70.624452 118.93336 72.904297 114.81836 C 74.626616 116.53396 76.724211 118.00605 79.679688 118.78906 C 83.250173 119.73501 87.472066 120.0982 91.757812 119.85156 C 99.684653 119.39538 107.75493 116.80584 112.13086 111.45898 C 115.03685 115.39523 118.1577 118.03883 121.49023 118.375 C 123.35335 118.56296 125.22402 118.03183 126.83594 116.83984 C 128.22682 115.81131 129.43737 114.29213 130.50586 112.35742 A 1.3228346 1.3228346 0 0 0 130.52344 112.35547 A 1.3228346 1.3228346 0 0 0 131.15625 111.18359 C 131.90099 109.74183 132.44071 109.13456 132.46094 109.08984 C 132.56227 109.15081 132.6727 109.21031 132.91797 109.41406 C 134.23199 110.5056 136.88837 113.20097 142.20508 114.16797 C 143.21525 114.3517 144.18516 114.40722 145.13477 114.41211 C 145.18693 114.5246 145.24481 114.65347 145.29688 114.76562 A 1.3228346 1.3228346 0 0 0 147.04688 115.4082 A 1.3228346 1.3228346 0 0 0 147.80078 114.25391 C 150.83497 113.833 153.53535 112.77065 155.92773 111.96094 C 157.81461 111.32231 159.51714 110.85212 161.0293 110.83203 C 162.54145 110.812 163.87081 111.17383 165.35352 112.38281 C 172.57211 118.26875 181.11607 117.90326 188.5625 115.04688 A 1.3228346 1.3228346 0 0 0 189.33008 113.33398 A 1.3228346 1.3228346 0 0 0 187.61719 112.57422 C 180.70883 115.2242 173.42187 115.54727 167.02344 110.33008 C 165.10185 108.76326 163.01221 108.1548 160.99219 108.18164 C 158.97217 108.20848 157.03007 108.79835 155.07812 109.45898 C 152.39907 110.36573 149.69967 111.39361 146.79883 111.69336 C 141.89207 101.06898 136.57645 89.163051 131.38281 78.521484 C 125.88106 67.248613 120.61179 57.523325 115.96875 52.316406 C 112.22586 48.118965 106.74501 46.238844 102.00977 44.837891 C 99.642137 44.137416 97.446972 43.562572 95.757812 42.941406 C 94.068659 42.320241 92.963492 41.610794 92.613281 41.066406 C 90.072271 37.116436 88.025571 33.055074 83.917969 19.201172 A 1.3228346 1.3228346 0 0 0 82.271484 18.314453 A 1.3228346 1.3228346 0 0 0 81.974609 18.470703 C 80.844429 15.139376 80.318533 13.874401 78.957031 10.296875 A 1.3228346 1.3228346 0 0 0 78.289062 9.5957031 C 78.008901 8.9859427 77.528646 8.4443892 76.912109 8.1191406 C 76.28089 7.7861452 75.561978 7.6428278 74.759766 7.640625 z M 74.615234 10.292969 C 75.173791 10.281706 75.522247 10.37788 75.679688 10.460938 C 75.873464 10.563159 75.875877 10.577547 75.916016 10.785156 C 75.996255 11.200382 75.674058 12.500579 74.630859 13.863281 C 73.587668 15.225983 71.949275 16.662856 69.927734 17.724609 C 67.89007 18.794835 66.301794 19.09302 65.248047 19.007812 C 64.611063 18.956309 64.178474 18.792519 63.873047 18.568359 C 63.70702 18.23371 63.538394 17.890536 63.373047 17.560547 A 1.3228346 1.3228346 0 0 0 63.214844 17.349609 C 63.11778 16.321576 63.735153 14.858102 65.794922 13.701172 C 69.762727 11.445027 72.577191 10.483734 74.195312 10.320312 C 74.347018 10.304992 74.486337 10.295568 74.615234 10.292969 z M 77.619141 14.154297 C 78.349803 15.999705 78.816551 17.211685 80.195312 21.443359 C 79.996274 22.307332 79.343139 23.489787 78.330078 24.626953 C 77.210646 25.883526 75.694624 27.096008 74.113281 27.947266 C 72.531938 28.798524 70.889014 29.2749 69.574219 29.232422 C 69.558042 29.231899 69.543413 29.229156 69.527344 29.228516 C 68.082248 26.92816 66.728078 24.304234 65.414062 21.664062 C 67.061899 21.71079 68.971767 21.218579 71.154297 20.072266 C 73.520595 18.829439 75.424205 17.166091 76.726562 15.464844 C 77.059529 15.029902 77.360254 14.59296 77.619141 14.154297 z M 133.41211 18.210938 A 1.3228346 1.3228346 0 0 0 132.51172 18.683594 A 1.3228346 1.3228346 0 0 0 132.68164 20.542969 C 140.1416 26.750936 142.46259 33.783122 143.58594 39.056641 A 1.3228346 1.3228346 0 0 0 145.15039 40.076172 A 1.3228346 1.3228346 0 0 0 146.16797 38.503906 C 144.98756 32.962496 142.39601 25.17583 134.38086 18.505859 A 1.3228346 1.3228346 0 0 0 133.41211 18.210938 z M 82.371094 23.232422 C 85.886163 34.629302 87.969018 38.733688 90.390625 42.498047 C 91.336225 43.96795 92.96121 44.728363 94.841797 45.419922 C 96.722384 46.111485 98.940361 46.69132 101.25781 47.376953 C 105.89272 48.748222 110.85318 50.562052 113.99023 54.080078 C 118.19124 58.79127 123.53559 68.479141 129.00586 79.6875 C 133.99962 89.919519 139.11617 101.33796 143.89844 111.7168 C 143.49441 111.6798 143.09162 111.64559 142.67773 111.57031 C 138.01797 110.7228 136.19773 108.70418 134.60938 107.38477 C 134.21226 107.05493 133.82726 106.73833 133.2793 106.52148 C 133.00531 106.41305 132.66748 106.35528 132.32227 106.36523 C 131.97705 106.37519 131.62558 106.45214 131.32422 106.60938 C 130.65019 106.96096 130.17908 107.51899 129.73438 108.22852 C 127.24462 103.56194 123.10097 94.997706 118.81641 86.400391 C 116.29686 81.3448 113.75451 76.35087 111.50781 72.25 C 109.26115 68.149133 107.38947 65.003748 105.86719 63.361328 A 1.3229669 1.3229669 0 0 0 105.09766 62.955078 A 1.3229669 1.3229669 0 0 0 104.65625 62.962891 A 1.3229669 1.3229669 0 0 0 103.67578 63.775391 C 101.55486 69.107094 98.942671 74.051703 95.636719 78.560547 C 94.17219 76.407649 92.587179 73.918861 90.957031 70.205078 A 1.3229669 1.3229669 0 0 0 88.992188 69.650391 C 82.064691 74.490994 77.865018 81.769392 76.658203 87.220703 C 76.054798 89.946359 76.027768 92.393501 77.625 93.923828 C 77.751614 94.045138 77.887844 94.152914 78.033203 94.25 C 82.060631 100.59466 86.046164 106.44917 95.162109 116.82812 C 93.982208 117.002 92.79357 117.14039 91.601562 117.20898 C 89.418604 117.33462 87.264388 117.27561 85.224609 117.07227 C 76.622437 101.95452 72.319264 88.942641 70.171875 79.052734 C 69.190551 74.533289 71.063944 69.134778 73.191406 64.259766 C 74.255139 61.822261 75.360752 59.522429 76.144531 57.474609 C 76.928315 55.426793 77.505613 53.629568 77.007812 51.886719 C 75.827422 47.754286 72.52305 41.181934 68.263672 31.550781 A 1.3228346 1.3228346 0 0 0 68.785156 31.542969 C 69.001457 31.714384 69.221156 31.866433 69.486328 31.875 C 71.472693 31.939173 73.498082 31.280653 75.369141 30.273438 C 77.240199 29.26622 78.962992 27.898879 80.306641 26.390625 C 81.196154 25.39214 81.910476 24.334544 82.371094 23.232422 z M 118.98438 32.253906 A 1.3228346 1.3228346 0 0 0 118.57617 32.318359 A 1.3228346 1.3228346 0 0 0 117.80078 32.974609 A 1.3228346 1.3228346 0 0 0 118.37695 34.753906 C 124.8276 38.071388 128.57126 43.537959 129.65625 46.373047 A 1.3228346 1.3228346 0 0 0 131.36719 47.132812 A 1.3228346 1.3228346 0 0 0 132.12891 45.427734 C 130.74549 41.812873 126.69653 36.055323 119.58594 32.398438 A 1.3228346 1.3228346 0 0 0 118.98438 32.253906 z M 104.99023 66.845703 C 106.11003 68.373025 107.41976 70.28932 109.18945 73.519531 C 111.40505 77.563622 113.93234 82.539578 116.44531 87.582031 C 121.19783 97.118292 125.75933 106.63897 128.22852 111.00977 C 127.28525 112.72697 126.26767 113.95881 125.25586 114.70703 C 124.09779 115.56342 122.98183 115.86371 121.75781 115.74023 C 119.30977 115.49328 116.23434 113.24051 113.2832 108.78711 A 1.3229669 1.3229669 0 0 0 111.06055 108.80078 C 108.70615 112.48691 103.70317 115.0127 98.035156 116.29492 A 1.3228346 1.3228346 0 0 0 97.777344 115.81055 C 89.141468 106.03819 85.145518 100.40773 81.421875 94.628906 C 82.411432 94.352142 83.445757 93.813388 84.599609 93.007812 C 88.885329 90.015666 92.103493 86.401574 95.185547 82.703125 A 1.3228346 1.3228346 0 0 0 96.78125 82.703125 A 1.3228346 1.3228346 0 0 0 96.972656 80.960938 C 100.27426 76.636919 102.8277 71.858165 104.99023 66.845703 z M 89.457031 72.90625 C 90.892609 75.992877 92.32742 78.482777 93.732422 80.472656 C 90.690696 84.226717 87.40396 87.824553 83.087891 90.837891 C 81.893031 91.672112 80.951757 92.066179 80.363281 92.166016 C 80.150058 92.202182 79.995166 92.211917 79.875 92.203125 C 79.701219 91.928242 79.527222 91.655496 79.351562 91.376953 A 1.3228346 1.3228346 0 0 0 79.095703 91.087891 C 78.953896 90.342848 78.929366 89.209913 79.242188 87.796875 C 80.19882 83.475654 83.894738 77.309006 89.457031 72.90625 z M 198.68359 79.679688 A 1.3229669 1.3229669 0 0 0 197.61328 80.396484 C 193.18166 89.097191 181.45538 88.56388 176.53711 81.119141 A 1.3229669 1.3229669 0 0 0 174.1543 81.503906 C 172.68934 86.995817 168.58705 89.525815 163.53125 89.955078 C 158.47546 90.384346 152.56395 88.471678 148.28711 84.789062 A 1.3228346 1.3228346 0 0 0 146.41992 84.927734 A 1.3228346 1.3228346 0 0 0 146.56055 86.796875 C 151.39644 90.960871 157.88267 93.090131 163.75195 92.591797 C 169.00261 92.145986 173.45811 89.0131 175.66602 83.761719 C 181.77112 90.883479 193.24803 91.084499 198.79492 82.869141 C 200.63691 84.985608 202.93338 86.886031 205.75586 87.607422 C 209.08564 88.458481 212.94592 87.549609 216.25195 83.947266 A 1.3228346 1.3228346 0 0 0 216.17188 82.080078 A 1.3228346 1.3228346 0 0 0 214.30273 82.160156 C 211.50241 85.211471 208.90792 85.68478 206.41211 85.046875 C 203.91629 84.408974 201.49986 82.429482 199.85742 80.210938 A 1.3229669 1.3229669 0 0 0 198.68359 79.679688 z M 48.027344 88.585938 C 47.43429 88.581302 46.8268 88.667835 46.232422 88.810547 C 44.647413 89.191111 42.954242 89.962094 41.117188 90.855469 C 37.44308 92.642225 33.210927 94.951018 29.1875 95.927734 C 27.275903 96.391789 26.643964 96.114668 26.242188 95.765625 C 25.840408 95.416582 25.531882 94.63379 25.158203 93.625 C 24.784525 92.616214 24.247294 91.237158 22.78125 90.642578 C 21.315207 90.047998 19.560423 90.415941 17.052734 91.623047 C 12.226698 93.946115 9.6988987 95.635369 8.3125 95.794922 C 7.6193003 95.8747 7.135062 95.762245 6.2304688 95.101562 C 5.3258753 94.440886 4.1237259 93.194516 2.5097656 91.269531 A 1.3228346 1.3228346 0 0 0 0.65039062 91.107422 A 1.3228346 1.3228346 0 0 0 0.48632812 92.974609 C 2.1480053 94.956507 3.4196227 96.319782 4.671875 97.234375 C 5.9241273 98.148972 7.280365 98.575498 8.6152344 98.421875 C 11.284973 98.114637 13.548037 96.248594 18.203125 94.007812 C 20.43598 92.932998 21.469641 92.96658 21.783203 93.09375 C 22.096764 93.220931 22.336374 93.617519 22.677734 94.539062 C 23.019094 95.460608 23.362746 96.763041 24.507812 97.757812 C 25.652881 98.75259 27.452984 99.077642 29.816406 98.503906 C 34.34298 97.405043 38.70139 94.970494 42.275391 93.232422 C 44.062389 92.363384 45.658259 91.675659 46.853516 91.388672 C 48.048772 91.101692 48.638873 91.209106 48.994141 91.521484 A 1.3228346 1.3228346 0 0 0 50.861328 91.402344 A 1.3228346 1.3228346 0 0 0 50.736328 89.535156 C 49.964036 88.856148 49.015767 88.593661 48.027344 88.585938 z M 140.70703 137.4043 A 1.3228346 1.3228346 0 0 0 139.79102 137.83398 C 133.64534 144.60252 127.84649 149.36072 123.26953 151.13672 C 120.98106 152.02472 119.06034 152.17353 117.47461 151.6543 C 115.88888 151.13506 114.50007 149.94144 113.3125 147.66797 A 1.3229669 1.3229669 0 0 0 111.69531 147.0332 C 105.20279 149.33938 99.950941 150.18471 95.550781 149.65234 C 91.150621 149.11998 87.547448 147.25632 84.160156 143.85742 A 1.3229669 1.3229669 0 0 0 82.425781 143.73242 C 74.950904 149.37799 69.913998 150.41103 66.251953 149.54883 C 62.589908 148.68663 59.955571 145.7912 57.615234 142.68359 A 1.3229669 1.3229669 0 0 0 55.474609 142.71484 C 52.729119 146.60522 50.07002 148.63531 47.628906 149.49805 C 45.187789 150.36078 42.903012 150.11932 40.673828 149.1875 C 36.21546 147.32385 32.189016 142.49566 29.933594 138.875 A 1.3229669 1.3229669 0 0 0 27.519531 139.30273 C 26.995553 141.85389 25.441304 143.76151 23.222656 145.14258 C 21.004009 146.52365 18.121533 147.31929 15.214844 147.46875 C 12.308155 147.61821 9.3810289 147.11717 7.09375 146.05859 C 4.8064714 145.00002 3.2076145 143.44653 2.5917969 141.42188 A 1.3228346 1.3228346 0 0 0 0.9375 140.53711 A 1.3228346 1.3228346 0 0 0 0.05859375 142.18945 C 0.93914629 145.08449 3.2159532 147.18269 5.9863281 148.46484 C 8.7567029 149.747 12.063624 150.28049 15.353516 150.11133 C 18.643408 149.94216 21.924635 149.064 24.619141 147.38672 C 26.624341 146.13851 28.08049 144.26 29.091797 142.08594 C 31.583882 145.66785 35.034926 149.70235 39.648438 151.63086 C 42.343562 152.75745 45.406499 153.08757 48.505859 151.99219 C 51.23249 151.02854 53.925691 148.78205 56.552734 145.45312 C 58.830274 148.30712 61.570045 151.16524 65.646484 152.125 C 70.101334 153.17386 75.803242 151.62558 83.119141 146.3457 C 86.648191 149.62141 90.602519 151.72085 95.234375 152.28125 C 100.02128 152.8604 105.48016 151.90984 111.86523 149.71875 C 113.19328 151.75972 114.68626 153.52742 116.64844 154.16992 C 118.97611 154.9321 121.5583 154.63542 124.22266 153.60156 C 129.55137 151.53385 135.46489 146.53109 141.74609 139.61328 A 1.3228346 1.3228346 0 0 0 141.6582 137.74609 A 1.3228346 1.3228346 0 0 0 140.70703 137.4043 z " transform="scale(0.26458334)" /></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.brand {
  position: absolute;
  top: -100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.is-family-serif {
  font-family: $family-serif;
}

.section {
  a {
    color: $black;
    border-bottom: 2px solid $black;

    &:hover {
      border-bottom: 0px;
    }
  }

  .image-link {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.separator {
  background-image: url(../public/arrow.svg);
  background-image: url('data:image/svg+xml;utf8,<svg width="55.570511" height="39.800148" viewBox="0 0 14.703031 10.530456" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-79.499659,-35.058532)"><path style="stroke:rgb(0,0,0);stroke-width:1;stroke-linecap:round;" d="m 79.999659,40.279375 c 4.328468,-0.246655 10.537414,-0.307061 12.971259,0.478869" /><path style="fill:none;stroke:rgb(0,0,0);stroke-width:1;stroke-linecap:round;stroke-linejoin:round;" d="m 87.106294,45.088988 c 2.261658,-1.840713 4.381015,-2.897582 6.596416,-3.783612 -1.506978,-2.948502 -2.78209,-4.040332 -4.994305,-5.746844" /></g></svg>');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 80px;
  margin: 0 auto;
  transform: rotate(90deg);

  &.odd {
    transform: rotate(90deg);
  }

  &.even {
    transform: scaleX(-1) rotate(90deg);
  }

  &:hover {
    cursor: pointer;
  }
}

.step {
  margin-top: 1.5rem;

  &.first {
    margin-top: 5rem;
  }

  @include from(1024px) {
    &.even {
      transform: rotate(2deg);
    }

    &.odd {
      transform: rotate(-2deg);
    }
  }

  h2 {
    color: $dark-grey;
    font-size: 3.75rem;
    line-height: 1;
    font-family: $family-serif;
    font-weight: 700;
    margin-bottom: 4rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 35px;
      bottom: -35px;
      left: 0;
      background-image: url('data:image/svg+xml;utf8,<svg width="307.29675" height="29.013695" viewBox="0 0 81.305595 7.6765399" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-18.256701,-102.07825)"><path style="fill:none;stroke:rgba(0,0,0,1);stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m 20.756701,107.25479 c 21.531967,-2.44655 64.701974,-1.821 76.305593,-2.67654" /></g></svg>');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  p {
    color: $light-grey;
    font-size: 1.125rem;
    letter-spacing: -0.06rem;
  }

  &.box-alt {
    p {
      color: $dark-grey;
    }
  }
}

@keyframes arrow-right-carousel-animation {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: -50px;
  }
}

/* BULMA REWRITED RULES */

.navbar-menu {
  background-color: #ffffff;
  @include from(1024px) {
    background-color: rgba(0, 0, 0, 0);
  }
}

@include from(1024px) {
  .navbar-dropdown.is-right {
    right: 10px;
  }
}
.footer,
.navbar {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-dropdown a.navbar-item.is-active {
  font-weight: 700;
  color: $dark-grey;
}

.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
  background-color: #ffdd005d;
}

a.navbar-link,
a.navbar-link:focus,
a.navbar-link:hover {
  background-color: transparent !important;
}

.subtitle {
  color: $dark-grey;
}

/* DARK MODE */

[data-theme='dark'],
[data-theme='dark'] body {
  background-color: $nord0;
  color: $nord8;

  .navbar-menu {
    background-color: $nord1;
    @include from(1024px) {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .step p,
  footer .footer-links a,
  h2,
  h3,
  a {
    color: $nord8;
  }

  .section a:not(.image-link) {
    border-bottom: 2px solid $nord8;
  }

  .navbar-dropdown,
  .navbar-dropdown a.is-active,
  .carousel-root,
  .box {
    background-color: $nord1;
    color: $nord8;
  }

  .navbar-dropdown a.navbar-item:focus,
  .navbar-dropdown a.navbar-item:hover {
    background-color: $nord8;
    color: $nord0;
  }

  .button.is-dark {
    background-color: $nord8;
    color: $nord0;
    &:hover {
      background-color: $nord9;
    }
  }

  .subtitle,
  .step p {
    color: $nord4;
  }

  footer .footer-links a {
    border-bottom: 2px solid $nord8;
    &:hover {
      border-bottom: 0;
    }
  }

  .title img,
  .step h2::after,
  .carousel.carousel-slider .control-arrow,
  .separator,
  .section.box img,
  .navbar img {
    filter: invert(83%) sepia(15%) saturate(739%) hue-rotate(150deg)
      brightness(87%) contrast(86%);
  }

  .carousel-slider .slide figure {
    padding: 1.5em;
  }
}
